.gallery-grid {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "list"
    "more-button";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.gallery-grid_image-list {
  width: 100%;
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
}

.gallery-grid_image {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
  max-width: 100%;
  padding: 5px;
}

.gallery-grid_image a {
  display: block;
  font-size: 0;
}

.gallery-grid_load-more {
  grid-area: more-button;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 160px;
  font-size: 16px;
  color: #fff;
  background-color: #1976d2;
  border-radius: 48px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-sizing: border-box;
  cursor: pointer;
}

.gallery-grid_load-more[disabled] {
  color: rgba(0,0,0,.26);
  background-color: rgba(0,0,0,.12);
  cursor: default;
}
